/* Page color*/
body {
  background-color: rgb(122, 83, 117);}

/*Font for text*/
.sn {
  font-family: 'Geneva', serif;}

/* where u are */
.titles {
  text-align: center;
  font-size:2em;}

/* top of page text*/
h1 {
  text-align: center;
  font-size: 3em;
  border-width: 20px;
  border-style: double;
  border-radius: 12px;
  padding: .5em 1em;
  margin: 1em auto; 
  border-color: rgb(36, 35, 64);
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-title {
  text-align: center;
  font-size: 3em;
  border-width: 30px;
  border-style: double;
  border-radius: 12px;
  padding: .3em 1em;
  display: inline-block;
}

/* misc*/

p {
  font-family: "Lucidatypewriter", "Rockwell Extra Bold", monospace;
}

li {
  font-family: "Rockwell", monospace;}

a {
  color: black;
}

/* nav bar*/
nav {
  display: inline-block;
  margin: 0 auto;   
}

#mainMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(178, 111, 191);
  font-family: papyrus, Helvetica, sans-serif;
}

#mainMenu li {
  float: left;
}

#mainMenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#mainMenu li a:hover {
  background-color: rgb(229, 109, 194);
}

.activeMenuItem {
  background-color: rgb(174, 80, 146);
  color: white;}

/* images */
.po {
  height: 300px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.st {
  height: 350px;
  width: 400px;
  display: block;
  margin-left: all;
  
}

.fb {
  height: 350px;
  width: 500px;
  display: block;
  margin-right: all;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* footer css */
footer {
  color: pink;
}

/* recipe page img */
.recipes-layout {
  display: flex;
}

.left-column {
  width: 80%;       
} 

.right-column { 
  width: 300%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.recipe-image {
  height: 350px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}